* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Niramit', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  color: #4C4B45; }

.heading-2, .heading-3 {
  font-family: 'Poppins', sans-serif;
  color: #383c7e;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding-bottom: .7rem;
  background-image: linear-gradient(to right, rgba(184, 162, 84, 0.7), #b8a254 15%, rgba(184, 162, 84, 0));
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.heading-2 {
  font-size: 4.5rem;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: .4rem;
  margin-bottom: 5rem; }

.heading-3 {
  font-size: 2.5rem;
  letter-spacing: .3rem;
  color: #383c7e;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.header {
  height: 100vh;
  position: relative;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; }
  @media only screen and (orientation: portrait) {
    .header {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      background-image: url("../img/hero-img-portrait.jpg"); } }

.about__container {
  padding: 3.5rem 0 10rem;
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .about__container {
      padding: 5rem 3rem; } }

.portfolio .heading-2 {
  color: #B8A254; }

.portfolio__container {
  background-color: #171833;
  padding: 3.5rem 10rem 10rem; }
  @media only screen and (max-width: 56.25em) {
    .portfolio__container {
      padding: 3rem 6rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .portfolio__container {
      padding: 3rem 3rem 5rem; } }

.contact__container {
  padding: 3.5rem 2rem 5rem; }

.footer {
  background-color: #171833;
  color: #B8A254;
  padding: 2.5rem 5rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media only screen and (max-width: 37.5em) {
    .footer {
      display: flex;
      flex-direction: column; } }

:target::before {
  content: "";
  display: block;
  height: 6.5rem;
  /* fixed navbar height*/
  margin: -6.5rem 0 0;
  /* negative fixed navbar height */ }

.title {
  display: none; }

.logo {
  height: 32vh;
  position: absolute;
  top: 16vh;
  left: 14vw; }
  @media screen and (orientation: portrait) {
    .logo {
      height: 28vh;
      top: 18vh;
      left: 18vw; } }

.navbar {
  position: fixed;
  min-height: 6.5rem;
  width: 100%;
  z-index: 10;
  padding: 0 5rem;
  background-color: #171833;
  box-shadow: 0 0.2rem 5rem rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      flex-direction: column;
      padding-top: 0.6rem; } }
  .navbar__logo {
    line-height: 0;
    transition: 0.2s ease; }
    .navbar__logo img {
      height: 5rem; }
    .navbar__logo:hover {
      transform: scale(1.1); }
    @media only screen and (max-width: 37.5em) {
      .navbar__logo {
        align-self: flex-start; } }
  .navbar__checkbox {
    display: none; }
  .navbar__btn {
    background-color: transparent;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 1rem;
    right: 2.5rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .navbar__btn {
        display: inline-block; } }
  .navbar__icon {
    position: relative;
    margin-top: 2rem; }
    .navbar__icon, .navbar__icon::before, .navbar__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #B8A254;
      display: inline-block; }
    .navbar__icon::before, .navbar__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navbar__icon::before {
      top: -1rem; }
    .navbar__icon::after {
      top: 1rem; }
  .navbar__list {
    list-style: none;
    font-family: poppins;
    font-size: 2.5rem;
    font-weight: 200;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .navbar__list {
        height: 0;
        z-index: 1500;
        opacity: 0;
        height: 0;
        flex-direction: column;
        justify-content: center;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .navbar__list .navbar__item {
          padding: 2rem 0;
          transform: scaleY(0); }
          .navbar__list .navbar__item:not(:last-child) {
            margin-right: 0; } }
  .navbar__item {
    transition: all 0.8s; }
    .navbar__item:not(:last-child) {
      margin-right: 6rem; }
  .navbar__link {
    transition: ease 0.3s; }
    .navbar__link:link, .navbar__link:visited {
      text-decoration: none;
      color: #B8A254;
      background-image: linear-gradient(to right, rgba(184, 162, 84, 0), #b8a254, rgba(184, 162, 84, 0));
      background-size: 0% 2px;
      background-position: bottom;
      background-repeat: no-repeat; }
    .navbar__link:hover, .navbar__link:active {
      color: #FFE173;
      background-size: 100% 2px; }
  .navbar .active {
    color: #FFE173;
    background-size: 100% 2px; }
  .navbar__checkbox:checked + .navbar__btn .navbar__icon {
    background-color: transparent; }
    .navbar__checkbox:checked + .navbar__btn .navbar__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navbar__checkbox:checked + .navbar__btn .navbar__icon::after {
      top: 0;
      transform: rotate(-135deg); }
  .navbar__checkbox:checked ~ .navbar__list {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    opacity: 1; }
    .navbar__checkbox:checked ~ .navbar__list .navbar__item {
      transform: scaleY(1); }

.me {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .me {
      flex-direction: column; } }

.card {
  width: 28%;
  padding: 3rem 4rem;
  border-radius: 2px;
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 56.25em) {
    .card {
      width: 70%;
      align-self: center; }
      .card:not(:last-child) {
        margin-bottom: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 90%; }
      .card:not(:last-child) {
        margin-bottom: 6rem; } }
  .card__title {
    display: none; }
  .card__icon {
    font-size: 6rem;
    color: #B8A254;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1); }
  .card__text {
    font-size: 1.8rem;
    font-style: italic;
    margin-top: 3.5rem; }

.toolset {
  padding-top: 4rem; }
  .toolset__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .toolset__row {
        padding: 0 15%; } }
    @media only screen and (max-width: 37.5em) {
      .toolset__row {
        padding: 0 5%; } }
  .toolset__logo {
    height: 7rem;
    width: 7rem;
    color: #383c7e;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 37.5em) {
      .toolset__logo {
        height: 5rem;
        width: 5rem; } }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 8rem; }
  @media only screen and (max-width: 75em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); } }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); } }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  @media only screen and (min-width: 112.5em) {
    .gallery {
      max-width: 2100px;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr)); } }

.tile {
  padding: 2rem 2rem 0;
  background-color: #171833;
  overflow: hidden; }
  .tile__img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.9); }
  .tile__description {
    padding: 1rem 0; }
  .tile__title {
    font-size: 2rem;
    font-weight: 300;
    color: #FFE173;
    text-align: center;
    margin-bottom: 1rem; }
  .tile__tools {
    display: flex;
    justify-content: center;
    color: #B8A254;
    padding-bottom: 1rem; }
    .tile__tools p {
      font-style: italic; }
  .tile__icon-tool {
    font-size: 2rem;
    margin-right: 1rem; }
  .tile__link {
    display: flex;
    justify-content: center;
    align-items: center; }
    .tile__link, .tile__link:hover, .tile__link:active, .tile__link:visited {
      text-decoration: none;
      color: #B8A254; }
      .tile__link p, .tile__link:hover p, .tile__link:active p, .tile__link:visited p {
        text-decoration: underline; }
  .tile__icon-link {
    font-size: 3rem;
    width: 3rem;
    margin-right: 1rem; }

.form {
  max-width: 70rem;
  margin: 0 auto;
  padding: 5rem 0 3rem;
  border-radius: 5px;
  background-color: #dbdcef; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input, .form__label {
    display: block;
    width: 75%;
    margin: 0 auto 0.4rem; }
  .form__input {
    font-family: inherit;
    font-size: 1.8rem;
    color: rgba(76, 75, 69, 0.8);
    padding: 1rem;
    border: none; }
    .form__input:focus {
      outline: none;
      border-bottom: 1px solid #9598cf;
      box-shadow: 0 1rem 3rem rgba(41, 42, 91, 0.1); }
    .form__input:invalid {
      border-bottom: 1px solid orangered; }
    .form__input::-webkit-input-placeholder {
      color: rgba(149, 152, 207, 0.6); }
  .form__label {
    color: rgba(41, 42, 91, 0.6);
    transform: translate(1.2rem, 0);
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    transform: translate(1.2rem, -3.5rem);
    opacity: 0; }
  .form__comments-box {
    resize: none;
    border: none;
    width: 75%;
    height: 10rem;
    margin: 0 auto;
    display: block;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    color: rgba(76, 75, 69, 0.8); }
    .form__comments-box::-webkit-input-placeholder {
      color: rgba(149, 152, 207, 0.6); }
    .form__comments-box:focus {
      outline: none;
      box-shadow: 0 1rem 3rem rgba(23, 24, 51, 0.1); }
  .form__btn {
    display: block;
    margin: 4rem auto 0; }

.btn {
  color: #383c7e;
  font-size: 2.5rem;
  border-color: #B8A254;
  border-radius: 5px;
  padding: 1rem 3rem;
  background-image: linear-gradient(to right bottom, #B8A254, #FFE173);
  box-shadow: 0 0.5rem 1rem rgba(23, 24, 51, 0.3);
  transition: all 0.2s; }
  .btn:hover, .btn:focus {
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 1rem 1.5rem rgba(23, 24, 51, 0.3); }
  .btn:active {
    transform: scale(1.1) translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(23, 24, 51, 0.3); }

.social-row {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3; }

.profile {
  text-align: center;
  font-size: 1.2rem; }
  .profile:not(:last-child) {
    margin-right: 5rem; }
  .profile__icon {
    font-size: 3.5rem;
    width: 3.5rem;
    color: #B8A254; }

.copy {
  text-align: end;
  align-self: end; }
  @media only screen and (max-width: 37.5em) {
    .copy {
      margin-top: 2rem;
      text-align: center;
      align-self: auto; } }
